.button {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #FE7865;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 340px;
  display: block;
  text-align: center;
  letter-spacing: 2px;
  border: none;

  &:focus,
  &:hover {
    background-color: #F17D4B;
  }

  @media (max-width: $desktop-width) {
    width: 250px;
    margin: 0 auto;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }
}

.button__clouse {
  position: absolute;
  background-color: transparent;
  outline: 0;
  border: 0;
  top: 20px;
  left: 650px;
  width: 21px;
  height: 21px;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    transform: rotate(45deg);
    content: "";
    width: 25px;
    height: 1px;
    background-color: rgba(20, 21, 23, 0.2);
    top: 15px;
    left: 25px;

  @media (max-width: $tablet-width) {
    left: -370px;
  }

  }

  &::after {
    transform: rotate(-45deg);
  }
}
