.country {
  @media (max-width: $desktop-width) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.country__title {
  width: 358px;
  margin-top: 200px;
  margin-bottom: 64px;

  @media (max-width: $desktop-width) {
    width: 100%;
    margin-top: 78px;
    margin-bottom: 20px;
    text-align: center;
  }

  @media (max-width: $tablet-width) {
    margin-top: 308px;
  }
}

.country__text {
  width: 330px;
  margin-bottom: 56px;

  @media (max-width: $desktop-width) {
    width: 345px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.country__links {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (max-width: $desktop-width) {
    justify-content: space-between;
  }
}

.country__link {
  width: 350px;
  min-height: 430px;
  position: relative;
  padding-bottom: 100px;

  &:last-child,
  &:nth-last-child(2) {
    margin: 0 auto;
    padding-bottom: 74px;
  }

  @media (max-width: $desktop-width) {
    min-height: 425px;
    width: 288px;
    padding: 0px;
    margin-bottom: 19px;

    &:nth-last-child(2) {
      padding-bottom: 23px;
      margin: 0;
    }

    &:last-child {
      margin: 0 auto 3px;
    }
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 31px;

    &:nth-last-child(2) {
      padding-bottom: 30px;
    }

    &:last-child {
      padding-bottom: 17px;
    }
  }
}

.country__name {
  margin: 0;
  position: absolute;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  width: 215px;
  height: 63px;
  text-align: center;
  padding-top: 17px;
  background-color: #fff;
  top: 367px;
  left: 70px;
  color: #2c2e3f;

  @media (max-width: $desktop-width) {
    top: 362px;
    left: 45px;
  }

  @media (max-width: $tablet-width) {
    left: 36px;
  }
}
