.modal-ok {
  display: none;

  &--active {
    display: block;
    width: 728px;
    height: 444px;
    background-color: #fbf8f8;
    margin: 0 auto;
    position: relative;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #48494d;
  }

  @media (max-width: $tablet-width) {
    width: 320px;
    height: 568px;
    background-color: #fff;

  }


}

.modal-ok__text {
  margin: 0 auto;
  margin-top: 179px;
  color: #48494d;
  font-weight: 500;
  font-size: 25px;
  line-height: 42px;
  width: 400px;

  @media (max-width: $tablet-width) {
    width: 280px;
  }


}
