.modal-ok {
  width: 728px;
  height: 444px;
  background-color: #fbf8f8;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.modal-ok__text {
  margin: 0 auto;
  margin-top: 179px;
  color: #48494d;
  font-weight: 500;
  font-size: 25px;
  line-height: 42px;
  width: 400px;
}
