.next-travel__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.next-travel__wrap {
  @media (max-width: $tablet-width) {
    flex-basis: 50%;
    margin-bottom: 7px;

    &:last-child {
      margin: 0 auto 50px auto;
    }
  }
}

.next-travel__group {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 52px;

  @media (max-width: $desktop-width) {
    margin-right: 57px;

    &--3 {
      margin-right: 30px;
    }
  }

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.next-travel__item {
  font-size: 14px;
  line-height: 17px;
  color: rgba(20, 21, 23, 0.5);
  margin-top: 10px;
}
